.landSec {
  /* display: flex;
  text-align: center;
  margin: 30px; */
  padding: 80px 0;
}

.landSec h1 {
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.landSec__content {
  display: flex;
}

.landSec__card {
  width: 350px;
  text-align: center;
  margin: 0 50px;
}

.landSec__cardHeader img {
  height: 120px;
  object-fit: contain;
  margin-bottom: 20px;
}

.landSec__info h2 {
  color: var(--primary-color);
}

.landSec__info p {
  text-align: justify;
  margin-top: 10px;
}

.landSec__button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.landSec__button .MuiButton-root {
  background-color: var(--secondary-color) !important;
  padding: 10px 50px !important;
  color: #fff !important;
}
