.login {
  font-family: "Lato", sans-serif !important;
  /* min-width: 100vw; */
  /* min-height: 100vh; */
  /* display: grid;
  place-items: center; */
  min-height: 470px;
  height: 470px;
}

.login .MuiTab-root {
  min-width: auto !important;
  padding: 20px 12px !important;
}

.login .MuiButton-root {
  margin-bottom: 5px !important;
}

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif !important;
}

.login__header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.content {
  width: 100%;
}

form {
  width: 100%;
}

.form {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-button {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.student__enrollLabel {
  text-align: center;
  margin-top: 10px;
}

.student__enrollLabel span {
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.login .MuiCircularProgress-colorPrimary {
  width: 20px !important;
  height: inherit !important;
  color: #fff !important;
  margin-right: 10px;
}

.login .MuiInputBase-root {
  border: 0.5px solid rgba(255, 255, 255, 0.8) !important;
  color: #fff !important;
}

/* .login .Mui-focused {
  border: 0.5px solid rgba(255, 255, 255, 0.8) !important;
  outline: none !important;
} */

.login .MuiInputBase-input:focus,
.login .MuiInputBase-input:hover {
  /* border: 0.5px solid rgba(255, 255, 255, 0.8) !important; */
  outline: none !important;
}

.login .MuiTextField-root:focus,
.login .MuiTextField-root:hover {
  /* border: 0.5px solid rgba(255, 255, 255, 0.8) !important; */
  outline: none !important;
}
