.teacher {
  position: relative;
}

.teacher__header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 260px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  background-color: #fff;
  z-index: 99;
}

.teacher__content {
  padding-left: 250px;
  padding-top: 90px;
  height: 100%;
}
