.teacher {
  position: relative;
}

.teacher__header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
}

.teacher__content {
  padding-left: 250px;
  padding-top: 100px;
  height: 100%;
}
