.navbar {
  width: 100%;
  background-color: rgba(34, 59, 35, 0.9);
  height: 67px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.student {
  min-height: 100vh;
  position: relative;
}

.student__dialogContentText p {
  margin-bottom: 10px;
}

.student__dialogContentText span {
  font-style: italic;
  font-size: 14px;
}

.student .MuiTab-wrapper {
  font-size: 13px !important;
}

.student__sidebar {
  max-width: 300px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* padding: 30px 0; */
  padding-top: 100px;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
  background-color: var(--primary-color);
  /* padding-left: 20px; */
  z-index: 999;
}

.student__sidebar .MuiListItem-root {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: rgba(255, 255, 255, 0.8) !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 30px !important;
}

.student__sidebar .MuiSvgIcon-root {
  color: rgba(255, 255, 255, 0.8) !important;
}

.student__sidebar .active {
  background-color: #fff;
  color: var(--primary-color) !important;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.student__sidebar .active .MuiSvgIcon-root {
  color: var(--primary-color) !important;
}

.student__sidebar .active:hover {
  background-color: #fff;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 30px !important;
}

.student__sidebar .active .MuiListItemIcon-root {
  color: #fff !important;
}

.sidebar__header {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

.sidebar__logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid lightgray;
}

.sidebar__logo img {
  object-fit: cover;
  width: 100%;
}

.student__content {
  padding-left: 300px;

  /* padding-top: 100px; */
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding-left: 260px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  height: 60px;
  object-fit: contain;
  margin-right: 5px;
}

.header__left h3 {
  font-size: 16px;
}

.student__enrollButton,
.student__removeButton {
  position: fixed !important;
  right: 50px;
  bottom: 50px;
  background-color: var(--secondary-color) !important;
}

.student__enrollButton {
  bottom: 120px;
}

.student__removeButton {
  background-color: #999 !important;
}

/* SDashboard */
.dashboard {
  display: flex;
  margin-left: 10px;
}
.avatar {
  display: flex;
  margin: 40px;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.avatar__text {
  text-align: left;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.col {
  flex: 1;
  /* margin: 20px; */
  margin-bottom: 10px;
}

.row2 {
  display: flex;
  justify-content: space-evenly;
}

.col2 {
  flex: 1;
  margin: 10px;
  margin-left: 60px;
  margin-bottom: 10px;
  float: left;
  padding: 0 10px;
  width: 25%;
}

.row3 {
  display: flex;
  justify-content: space-evenly;
}

.col3 {
  flex: 1;
  margin-left: 80px;
  margin-bottom: 5px;
}

.row4 {
  display: flex;
  justify-content: space-evenly;
}

.col4 {
  flex: 1;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.coreSub {
  margin-left: 80px;
  font-size: 15px;
}

.subjects {
  margin-left: 90px;
  margin-top: 10px;
}

.enrolledSub {
  margin-left: 50px;
}

.card {
  box-shadow: 0px 3px, 6px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  background-color: #f1f1f1;
}
