.teachers {
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.teachers__addForm form div {
  display: flex;
}

.teachers__addButton {
  background-color: var(--primary-color) !important;
}

.teachers__addForm .MuiFormControl-root {
  margin: 5px;
}

.teachers__addForm p {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}

.teachers__subjectsList {
  display: block !important;
  max-height: 250px;
  overflow-y: scroll;
  margin: 10px 0;
}

.teachers__buttonCancel,
.teachers__buttonSubmit {
  margin: 3px !important;
}

.teachers__buttonSubmit {
  background-color: var(--secondary-color) !important;
}

.teachers__addTeacher {
  position: fixed !important;
  right: 50px;
  bottom: 50px;
  background-color: var(--secondary-color) !important;
}
