.subjects {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.subjects__addButton {
  background-color: var(--primary-color) !important;
}

.subjects__tableContainer {
  margin-top: 10px;
}

.subjects__addForm form div {
  margin-bottom: 5px;
}

.subjects__buttonCancel,
.subjects__buttonSubmit {
  margin: 3px !important;
}

.subjects__buttonSubmit {
  background-color: var(--secondary-color) !important;
}
