.adminLogin {
  display: grid;
  place-items: center;
  background: url(../../../img/conference-room-768441_1920.jpg);
}
.adminLogin__card {
  width: 350px;
  border: 1px solid lightgray;
  padding: 20px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
}

.adminLogin__card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminLogin__card img {
  height: 100px;
  object-fit: contain;
}
.adminLogin__card h3 {
  text-align: center;
  margin-bottom: 25px;
}

.adminLogin__card p {
  text-align: center;
  margin-bottom: 5px;
}

.adminLogin__button {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  margin-top: 10px !important;
}

.adminLogin__error {
  color: red;
  font-size: 12px;
  margin-top: 8px;
}
