.requirements {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

.requirements__card {
  width: 300px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.requirements__card div {
  padding: 10px 20px;
}

.requirements__card img {
  /* width: 90%; */
  height: 170px;
  object-fit: contain;
}

.requirements__card p {
  text-align: center;
  margin-top: 10px;
}

.requirements__uploadButton {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

.requirements__uploadButtonDisabled {
  background-color: #e6e6e6 !important;
}

.requirements__uploadButton .MuiSvgIcon-root {
  margin-right: 10px;
}

.requirements__imageContainer {
  position: relative;
}

.requirements__dbImageContainer {
  position: relative;
}

.requirements__imageContainer img {
  opacity: 0.3;
}

.requirements__openFileButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 99;
}

.requirements__openFileButton .MuiSvgIcon-root {
  width: 4rem !important;
  height: 4rem !important;
  color: var(--secondary-color) !important;
}

.requirements__uploadProgress {
  width: 90%;
  height: 10px;
}
